@charset "UTF-8";
@font-face {
  font-family: "raleway_thin";
  src: url("/vendor/fonts/raleway_thin/webfonts/raleway_thin-webfont.eot");
  src: local("☺"), url("/vendor/fonts/raleway_thin/webfonts/raleway_thin-webfont.woff") format("woff"), url("/vendor/fonts/raleway_thin/webfonts/raleway_thin-webfont.otf") format("opentype"), url("/vendor/fonts/raleway_thin/webfonts/raleway_thin-webfont.svg#filename") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"] {
  background-image: none;
  background-repeat: none;
  display: block;
  height: auto;
  width: auto;
  margin: 0; }

h3 {
  color: #747d7d;
  font-size: 40px;
  text-transform: uppercase; }

form {
  margin: 0; }

select {
  width: auto;
  margin: 0;
  -webkit-appearance: none; }

ul {
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: inherit; }

strong {
  font-size: 1.5em;
  color: yellow; }

.tooltip-inner {
  font-size: 14px;
  line-height: 22px;
  color: #232324;
  background: white; }

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: white; }

.tooltip.top .tooltip-arrow {
  border-top-color: white; }

body {
  background: #383838;
  font-family: 'raleway_thin';
  color: white;
  line-height: 2em;
  font-size: 24px; }
  body [class^="icon-"] {
    vertical-align: text-top; }

a {
  color: yellow; }
  a:hover {
    color: yellow;
    text-decoration: none; }

button {
  border: none;
  background: transparent;
  color: #747d7d;
  font-size: 30px;
  line-height: 30px; }
  button:hover {
    color: #fff; }

header {
  padding: 60px 0 40px;
  margin: 0; }
  header nav {
    float: right;
    vertical-align: middle; }
    header nav button {
      display: inline-block;
      margin-left: 20px;
      text-align: right; }
  header h1 {
    font-size: 50px;
    margin: 0;
    color: #fff; }

.widget {
  background: #232324;
  border: 1px dotted #000;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-bottom: 30px; }

#snapshot button {
  float: right; }
#snapshot:hover button {
  display: block; }
#snapshot.minimized p {
  display: none; }

#entries button {
  float: right; }
#entries input {
  width: 100%; }
#entries li {
  border-bottom: 1px solid #747d7d;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 1.2em;
  padding: 10px 0; }
  #entries li button {
    font-size: 20px; }
  #entries li:last-child {
    border: none; }

#stats #advanced input {
  width: 100%;
  font-size: 20px; }
#stats .stat-gui fieldset span {
  opacity: .6; }
  #stats .stat-gui fieldset span.active {
    opacity: 1; }
#stats .stat-gui select {
  font-size: 20px;
  height: 35px;
  vertical-align: baseline;
  background: #383838;
  color: inherit;
  border: none;
  font-family: 'raleway_thin'; }
  #stats .stat-gui select:focus {
    outline: none;
    border-color: yellow;
    box-shadow: 0 0 10px yellow; }
#stats .stat-gui [type="number"] {
  width: 50px; }
#stats .stat-gui .preview {
  line-height: 54px;
  margin: 0;
  font-size: 24px; }
#stats .stat-gui p {
  line-height: 30px;
  line-height: 50px; }
#stats .stat-gui fieldset {
  margin: 0 0 30px 0;
  display: block;
  background: #383838;
  color: white;
  padding: 18px; }
  #stats .stat-gui fieldset select, #stats .stat-gui fieldset input {
    background: #232324;
    color: white; }
#stats .stat-gui button {
  float: none;
  display: inline; }
#stats button {
  float: right; }
#stats .nav {
  font-size: 16px;
  margin: 0; }
  #stats .nav li {
    border: none;
    margin: 0; }
#stats li {
  border-bottom: 1px solid #747d7d;
  padding: 0 0 20px;
  margin-bottom: 20px; }
  #stats li button {
    font-size: 20px;
    height: 50px;
    vertical-align: middle; }
  #stats li:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0; }

#content input {
  background: #383838;
  box-sizing: border-box;
  height: 35px;
  margin: 0;
  font-weight: normal;
  font-family: 'raleway_thin';
  font-size: 20px;
  color: white;
  border-color: #383838; }
  #content input:focus {
    outline: none;
    border-color: yellow;
    box-shadow: 0 0 10px yellow; }

#marketing h3 {
  line-height: 55px;
  color: white; }
#marketing p {
  padding: 10px 0;
  margin: 0;
  color: #747d7d; }
  #marketing p:first-child {
    border: none; }
#marketing strong {
  color: yellow;
  font-size: 1em; }
#marketing code {
  color: #383838;
  display: block;
  padding: 10px;
  line-height: 1em;
  font-family: courier;
  font-size: .6em; }
#marketing code + code {
  margin-top: 10px; }
#marketing input {
  display: block;
  margin: 0 0 10px; }
