body {
  padding-top: 40px;
}

.if_empty { display: none; }
.empty .if_empty { display: inherit; }

ul {
  margin: 0;
}

ul .if_empty {
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
}

#landing input {
  display: block;
  margin-bottom: 10px;
}

#landing form {
  margin: 0 auto; 
  width: 240px;
}

form .error {
  color: #ff0000;
}

.modal {
  display: none;
}

#header h1 {
  float: left;
  font-size: 20px;
  line-height: inherit;
  margin-right: 20px;
}

#header .logout {
  float: right;
  line-height: 20px;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 400;
}

#input {
  padding-top: 20px;
}

#input input {
  padding: 25px 20px;
  margin-bottom: 0;
  font-size: 28px;
  height: 34px;
  line-height: 34px;
  border: 1px solid #999;
  width: 100%; 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

#feedback {
  display: none;
  min-height: 100px;
  border: 1px dashed #ddd;
  background: #eee;
  border-radius: 10px;
  color: #fff;
  font-size: 28px;
  text-align: center;
}

.stat {
  border: 1px solid #eee;
  margin: 0 0 10px;
  border-radius: 5px;
  padding: 10px;
}

.stat .remove {
  display: inline-block
}

.stat p {
  font-style: italic;
  font-size: 18px;
}

.stat span {
  float: right;
  text-align: center;
  font-size: 20px;
  color: #555;
}

.entry {
  margin-bottom: 10px;
}

.entry dl {
  margin: 0;
}

.entry dt {
  float: left;
  margin-right: 20px;
}

.entry p {
  margin: 0;
}

.entry .remove {
  float: right;
}
