<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="vendor/fonts/icomoon/style.css" />
  <link rel="stylesheet" href="css/base.css" />
</head>
<body>

  <div id="wrapper">
    <header>
      <div class="container">
        <nav data-view="NavView"></nav>
        <h1>dataful.me</h1>
      </div>
    </header>
    <div id="content">
      <div class="container">
        <div id="snapshot" class="widget" data-view="SnapshotView" data-class-minimized=".hidden"></div>
        <div id="input" class="widget" data-view="InputView" data-show=".active"></div>
        <div class="row">
          <div id="stats" class="widget span8" data-view="StatsView"></div>
          <div id="entries" class="widget span4" data-view="EntriesView"></div>
        </div>
      </div>
    </div>
  </div>

  <div style="display: none" id="modal" class="modal"></div>
  
  <script src="vendor/js/require.js"></script>
  <script>
    require([ 'main.js' ], function() {
      require([ 'hub' ], function(hub) {
        hub.on('requestBaked', function(cb) {
          cb({
            tagKeys: <%= @tag_keys.to_json %>
          });
        });
      });
    });
  </script>
</body>
</html>

