<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="css/base.css" />
</head>
<body id="marketing">

  <div id="wrapper">
    <header>
      <div class="container">
        <h1>dataful.me</h1>
      </div>
    </header>
    <div id="content">
      <div class="container">
        <div class="widget">
          <h3><strong>Welcome!</strong><br />Track, quantify, and improve yourself.</h3>
        </div>
        <div class="widget">
          <p>
            We are ALMOST ready to start accepting beta-testers...
          </p>
          <p>
            It will look something like this:
          </p>
          <p>Track things like this (or we can dynamically create these entries from another app you use, like Runkeeper):</p>
          <code>
            coffee
          </code>
          <code>
            running miles:8 shoes:minimus energy:7
          </code>
          <p>Then create your own statistics from that data, like this:</p>
          <code>
            average energy(running <1h>coffee)
            //=> average energy while running, less than 1 hour after coffee
          </code>
          <code>
            sum miles(shoes:minimus)
            //=> sum of all miles with minimus shoes
          </code>
        </div>
        <!--
        <div class="widget">
          <h3>It works something like this...</h3>
          <p>
            Let's say I had a coffee shortly after waking up one morning.
            <br />
            <strong>I could add an entry:</strong>
            <code>
              coffee
            </code>
          </p>
          <p>
            Then perhaps I went for a run, before starting work.
            <br />
            <strong>And then I add another entry:</strong>
            <code>
              run miles:4 energy:8 shoes:minimus
            </code>
          </p>
          <p>
            Now I wonder how that coffee has been affecting my running.
            <br />
            <strong>So I define a couple of stats, like this:</strong>
            <code>
              average energy (running) less than 2 hours after coffee
            </code>
            <code>
              average energy (running) not less than 2 hours after coffee
            </code>
            <br />
            Which reveals the values 5.9 and 7.3, respectively. Not a good sign for my coffee habit.. But perhaps there is more to it. Perhaps it is just the morning time that drags me down, since thats when I usually drink my coffee.
            <br />
            <strong>So I enter another stat:</strong>
            <code>
              average energy (running TIME:&gt;10am) not less than 2 hours after coffee
            </code>
            <br />
            This gives me 6.1. So it looks like coffee isn't as much of a factor as time of day.
          </p>
          <p>
            You hopefully get the idea by now, and you most likely want to sign up and start tracking things for yourself.
          </p>
        </div>
        -->
        <div data-view="HomeView"></div>
      </div>
    </div>

  </div>

  <script src="vendor/js/require.js"></script>
  <script>
    require([ 'main.js' ], function() {

    });
  </script>
</body>
</html>

